<a href="https://colab.research.google.com/github/unverciftci/Python_Programlama/blob/main/chapters/chapter1_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python ile Programlamaya Giriş

# 1. Bölüm: Temel Python Konuları

## Chapter Learning Objectives
<hr>

- Create, describe and differentiate standard Python datatypes such as `int`, `float`, `string`, `list`, `dict`, `tuple`, etc.
- Perform arithmetic operations like `+`, `-`, `*`, `**` on numeric values.
- Perform basic string operations like `.lower()`, `.split()` to manipulate strings.
- Compute boolean values using comparison operators operations (`==`, `!=`, `>`, etc.) and boolean operators (`and`, `or`, `not`).
- Assign, index, slice and subset values to and from tuples, lists, strings and dictionaries.
- Write a conditional statement with `if`, `elif` and `else`.
- Identify code blocks by levels of indentation.
- Explain the difference between mutable objects like a `list` and immutable objects like a `tuple`.

## 1. Introduction
<hr>

Python bir genel programlama dilidir. Dolayısıyla çok geniş bir yelpazeye sahiptir. Biz sadece veri bilimi ve uygulamalı matematik için yeterli olan konuları inceleyeceğiz. Bu bölümde Python programlama dilinin en temel bileşenleri tanıtılacaktır.

## 2. Basic Python Data Types
<hr>

A **value** is a piece of data that a computer program works with such as a number or text. There are different **types** of values: `42` is an integer and `"Hello!"` is a string. A **variable** is a name that refers to a value. In mathematics and statistics, we usually use variable names like $x$ and $y$. In Python, we can use any word as a variable name as long as it starts with a letter or an underscore. However, it should not be a [reserved word](https://docs.python.org/3.3/reference/lexical_analysis.html#keywords) in Python such as `for`, `while`, `class`, `lambda`, etc. as these words encode special functionality in Python that we don't want to overwrite!

It can be helpful to think of a variable as a box that holds some information (a single number, a vector, a string, etc). We use the **assignment operator** `=` to assign a value to a variable.

Değişken (variable), bir değere atıfta bulunan bir addır. Matematik ve istatistikte genellikle 𝑥 ve 𝑦 gibi değişken isimleri kullanırız. Python'da bir harf veya alt çizgi ile başladığı sürece herhangi bir kelimeyi değişken adı olarak kullanabiliriz. Değer (value), bir bilgisayar programının bir sayı veya metin gibi çalıştığı bir veri parçasıdır. Farklı değer türleri vardır: 42 bir tamsayıdır ve "Merhaba!" bir dizedir. Ancak, for, while, class, lambda vb. gibi Python'da ayrılmış bir kelime olmamalıdır, çünkü bu kelimeler Python'da üzerine yazmak istemediğimiz özel işlevleri kodlar!

Bir değişkeni bazı bilgileri (tek bir sayı, bir vektör, bir dize, vb.) içeren bir kutu olarak düşünmek faydalı olabilir. Bir değişkene değer atamak için = atama operatörünü kullanırız.

![](https://github.com/unverciftci/Python_Programlama/blob/main/chapters/img/chapter1/box.png?raw=1)

Image modified from: [medium.com](https://www.google.com/url?sa=i&url=https%3A%2F%2Fmedium.com%2F%40stevenpcurtis.sc%2Fwhat-is-a-variable-3447ac1331b9&psig=AOvVaw3YbYfgb7XFOJ_sHP5eliob&ust=1595365663851000&source=images&cd=vfe&ved=0CA0QjhxqFwoTCMi8nrfe3OoCFQAAAAAdAAAAABAZ)

```{tip}
See the [Python 3 documentation](https://docs.python.org/3/library/stdtypes.html) for a summary of the standard built-in Python datatypes.
```

### Önceden Tanımlı Veri Tipleri (built-in data types)

| İngilizcesi          | Tip İsmi  | Tip Sınıfı  | Açıklama                                   | Örnek                                    |
| :-------------------- | :--------- | :------------- | :-------------------------------------------- | :----------------------------------------- |
| integer               | `int`      | Numeric Type   | positifi veya negatif tam sayı               | `42`                                       |
| floating point number | `float`    | Numeric Type   | ondalılklı reel sayı                   | `3.14159`                                  |
| boolean               | `bool`     | Boolean Values | doğru veya yanlış                                 | `True`                                     |
| string                | `str`      | Sequence Type  | düzyazı                                          | `"I Can Has Cheezburger?"`                 |
| list                  | `list`     | Sequence Type  | sıralı ve değiştirilebilir nesneler  | `['Ali', 'Xinyi', 'Miriam']`               |
| tuple                 | `tuple`    | Sequence Type  | sıralı ve değiştirilemez nesneler | `('Thursday', 6, 9, 2018)`                 |
| dictionary            | `dict`     | Mapping Type   | anahtar-değer eşlemesi                    | `{'name':'DSCI', 'code':511, 'credits':2}` |
| none                  | `NoneType` | Null Object    | değer atanmamış                           | `None`                                     |

### Sayısal Veri Tipleri

There are three distinct numeric types: `integers`, `floating point numbers`, and `complex numbers` (not covered here). We can determine the type of an object in Python using `type()`. We can print the value of the object using `print()`.

Üç farklı sayısal tür vardır: tamsayılar, kayan noktalı sayılar ve karmaşık sayılar (burada ele alınmamaktadır). Python'da type() kullanarak bir nesnenin tipini belirleyebiliriz. print() kullanarak nesnenin değerini yazdırabiliriz.

In [ ]:
x = 42

In [ ]:
type(x)

int

In [ ]:
print(x)

42

In Jupyter/IPython (an interactive version of Python), the last line of a cell will automatically be printed to screen so we don't actually need to explicitly call `print()`.

Jupyter/IPython'da (Python'un etkileşimli bir versiyonu), bir hücrenin son satırı otomatik olarak ekrana yazdırılacaktır, bu nedenle aslında açıkça 'print()' çağırmamız gerekmez.

In [ ]:
x  # Anything after the pound/hash symbol is a comment and will not be run

42

In [ ]:
pi = 3.14159
pi

3.14159

In [ ]:
type(pi)

float

### Cebirsel İşlemler

Python'da yaygın olarak kullanılan aritmetik işlemler için sözdizimi tablosu aşağıdadır:

| İşlem |   Açıklama    |
| :------: | :--------------: |
|   `+`    |     toplama     |
|   `-`    |   çıkarma    |
|   `*`    |  çarpma  |
|   `/`    |     bölme     |
|   `**`   |  kuvvet  |
|   `//`   | kalansız bölme |
|   `%`    |      kalanı bulma      |

Let's have a go at applying these operators to numeric types and observe the results.

Şimdi bu operatörleri sayısal türlere uygulayalım ve sonuçları gözlemleyelim.

In [ ]:
1 + 2 + 3 + 4 + 5  # add

15

In [ ]:
2 * 3.14159  # multiply

6.28318

In [ ]:
2 ** 10  # exponent

1024

Division may produce a different `dtype` than expected, it will change `int` to `float`.

In [ ]:
int_2 = 2
type(int_2)

int

In [ ]:
int_2 / int_2  # divison

1.0

In [ ]:
type(int_2 / int_2)

float

But the syntax `//` allows us to do "integer division" (aka "floor division") and retain the `int` data type, it always rounds down.

In [ ]:
101 / 2

50.5

In [ ]:
101 // 2  # "floor division" - always rounds down

50

We refer to this as "integer division" or "floor division" because it's like calling `int` on the result of a division, which rounds down to the nearest integer, or "floors" the result.

In [ ]:
int(101 / 2)

50

The `%` "modulo" operator gives us the remainder after division.

In [ ]:
100 % 2  # "100 mod 2", or the remainder when 100 is divided by 2

0

In [ ]:
101 % 2  # "101 mod 2", or the remainder when 101 is divided by 2

1

In [ ]:
100.5 % 2

0.5

### None

`NoneType` is its own type in Python. It only has one possible value, `None` - it represents an object with no value. We'll see it again in a later chapter.

In [ ]:
x = None

In [ ]:
print(x)

None

In [ ]:
type(x)

NoneType

### Strings

Text is stored as a data type called a `string`. We can think of a string as a sequence of characters. 

```{tip}
Actually they are a sequence of Unicode code points. Here's a [great blog post](https://www.joelonsoftware.com/2003/10/08/the-absolute-minimum-every-software-developer-absolutely-positively-must-know-about-unicode-and-character-sets-no-excuses/) on Unicode if you're interested.
```

We write strings as characters enclosed with either:
  - single quotes, e.g., `'Hello'` 
  - double quotes, e.g., `"Goodbye"`

There's no difference between the two methods, but there are cases where having both is useful (more on that below)! We also have triple double quotes, which are typically used for function documentation (more on that in a later chapter), e.g., `"""This function adds two numbers"""`.

In [ ]:
my_name = "Tomas Beuzen"

In [ ]:
my_name

'Tomas Beuzen'

In [ ]:
type(my_name)

str

In [ ]:
course = 'DSCI 511'

In [ ]:
course

'DSCI 511'

In [ ]:
type(course)

str

If the string contains a quotation or apostrophe, we can use a combination of single and double quotes to define the string.

In [ ]:
sentence = "It's a rainy day."

In [ ]:
sentence

"It's a rainy day."

In [ ]:
type(sentence)

str

In [ ]:
quote = 'Donald Knuth: "Premature optimization is the root of all evil."'

In [ ]:
quote

'Donald Knuth: "Premature optimization is the root of all evil."'

### Boolean

The Boolean (`bool`) type has two values: `True` and `False`.

In [ ]:
the_truth = True

In [ ]:
the_truth

True

In [ ]:
type(the_truth)

bool

In [ ]:
lies = False

In [ ]:
lies

False

In [ ]:
type(lies)

bool

### Comparison Operators

We can compare objects using comparison operators, and we'll get back a Boolean result:

| Operator  | Description                          |
| :-------- | :----------------------------------- |
| `x == y ` | is `x` equal to `y`?                 |
| `x != y`  | is `x` not equal to `y`?             |
| `x > y`   | is `x` greater than `y`?             |
| `x >= y`  | is `x` greater than or equal to `y`? |
| `x < y`   | is `x` less than `y`?                |
| `x <= y`  | is `x` less than or equal to `y`?    |
| `x is y`  | is `x` the same object as `y`?       |

In [ ]:
2 < 3

True

In [ ]:
"Deep learning" == "Solve all the world's problems"

False

In [ ]:
2 != "2"

True

In [ ]:
2 is 2

True

In [ ]:
2 == 2.0

True

### Boolean Operators

We also have so-called "boolean operators" which also evaluates to either `True` or `False`:

| Operator | Description |
| :---: | :--- |
|`x and y`| are `x` and `y` both True? |
|`x or y` | is at least one of `x` and `y` True? |
| `not x` | is `x` False? |

In [ ]:
True and True

True

In [ ]:
True and False

False

In [ ]:
True or False

True

In [ ]:
False or False

False

In [ ]:
("Python 2" != "Python 3") and (2 <= 3)

True

In [ ]:
True

True

In [ ]:
not True

False

In [ ]:
not not True

True

```{note}
Python also has [bitwise operators](https://wiki.python.org/moin/BitwiseOperators) like `&` and `|`. Bitwise operators literally compare the bits of two integers. That's beyond the scope of this course but I've included a code snippet below to show you them in action.
```

In [ ]:
print(f"Bit representation of the number 5: {5:0b}")
print(f"Bit representation of the number 4: {4:0b}")
print(f"                                    ↓↓↓")
print(f"                                    {5 & 4:0b}")
print(f"                                     ↓ ")
print(f"                                     {5 & 4}")

Bit representation of the number 5: 101
Bit representation of the number 4: 100
                                    ↓↓↓
                                    100
                                     ↓
                                     4

### Casting

Sometimes we need to explicitly **cast** a value from one type to another. We can do this using functions like `str()`, `int()`, and `float()`. Python tries to do the conversion, or throws an error if it can't.

In [ ]:
x = 5.0
type(x)

float

In [ ]:
x = int(5.0)
x

5

In [ ]:
type(x)

int

In [ ]:
x = str(5.0)
x

'5.0'

In [ ]:
type(x)

str

In [ ]:
str(5.0) == 5.0

False

In [ ]:
int(5.3)

5

In [ ]:
float("hello")

ValueError: could not convert string to float: 'hello'

## 3. Lists and Tuples
<hr>

Lists and tuples allow us to store multiple things ("elements") in a single object. The elements are _ordered_ (we'll explore what that means a little later). We'll start with lists. Lists are defined with square brackets `[]`.

In [ ]:
my_list = [1, 2, "THREE", 4, 0.5]

In [ ]:
my_list

[1, 2, 'THREE', 4, 0.5]

In [ ]:
type(my_list)

list

Lists can hold any datatype - even other lists!

In [ ]:
another_list = [1, "two", [3, 4, "five"], True, None, {"key": "value"}]
another_list

[1, 'two', [3, 4, 'five'], True, None, {'key': 'value'}]

You can get the length of the list with the function `len()`:

In [ ]:
len(my_list)

5

Tuples look similar to lists but have a key difference (they are immutable - but more on that a bit later). They are defined with parentheses `()`.

In [ ]:
today = (1, 2, "THREE", 4, 0.5)

In [ ]:
today

(1, 2, 'THREE', 4, 0.5)

In [ ]:
type(today)

tuple

In [ ]:
len(today)

5

### Indexing and Slicing Sequences

We can access values inside a list, tuple, or string using square bracket syntax. Python uses *zero-based indexing*, which means the first element of the list is in position 0, not position 1.

In [ ]:
my_list

[1, 2, 'THREE', 4, 0.5]

In [ ]:
my_list[0]

1

In [ ]:
my_list[2]

'THREE'

In [ ]:
len(my_list)

5

In [ ]:
my_list[5]

IndexError: list index out of range

We can use negative indices to count backwards from the end of the list.

In [ ]:
my_list

[1, 2, 'THREE', 4, 0.5]

In [ ]:
my_list[-1]

0.5

In [ ]:
my_list[-2]

4

We can use the colon `:` to access a sub-sequence. This is called "slicing".

In [ ]:
my_list[1:3]

[2, 'THREE']

Note from the above that the start of the slice is inclusive and the end is exclusive. So `my_list[1:3]` fetches elements 1 and 2, but not 3.

Strings behave the same as lists and tuples when it comes to indexing and slicing. Remember, we think of them as a *sequence* of characters.

In [ ]:
alphabet = "abcdefghijklmnopqrstuvwxyz"

In [ ]:
alphabet[0]

'a'

In [ ]:
alphabet[-1]

'z'

In [ ]:
alphabet[-3]

'x'

In [ ]:
alphabet[:5]

'abcde'

In [ ]:
alphabet[12:20]

'mnopqrst'

### List Methods

A list is an object and it has methods for interacting with its data. A method is like a function, it performs some operation with the data, but a method differs to a function in that it is defined on the object itself and accessed using a period `.`. For example, `my_list.append(item)` appends an item to the end of the list called `my_list`. You can see the documentation for more [list methods](https://docs.python.org/3/tutorial/datastructures.html#more-on-lists).

In [ ]:
primes = [2, 3, 5, 7, 11]
primes

[2, 3, 5, 7, 11]

In [ ]:
len(primes)

5

In [ ]:
primes.append(13)

In [ ]:
primes

[2, 3, 5, 7, 11, 13]

### Sets

Another built-in Python data type is the `set`, which stores an _un-ordered_ list of _unique_ items. Being unordered, sets do not record element position or order of insertion and so do not support indexing.

In [ ]:
s = {2, 3, 5, 11}
s

{2, 3, 5, 11}

In [ ]:
{1, 2, 3} == {3, 2, 1}

True

In [ ]:
[1, 2, 3] == [3, 2, 1]

False

In [ ]:
s.add(2)  # does nothing
s

{2, 3, 5, 11}

In [ ]:
s[0]

TypeError: 'set' object is not subscriptable

Above: throws an error because elements are not ordered and can't be indexing.

### Mutable vs. Immutable Types

Strings and tuples are immutable types which means they can't be modified. Lists are mutable and we can assign new values for its various entries. This is the main difference between lists and tuples.

In [ ]:
names_list = ["Indiana", "Fang", "Linsey"]
names_list

['Indiana', 'Fang', 'Linsey']

In [ ]:
names_list[0] = "Cool guy"
names_list

['Cool guy', 'Fang', 'Linsey']

In [ ]:
names_tuple = ("Indiana", "Fang", "Linsey")
names_tuple

('Indiana', 'Fang', 'Linsey')

In [ ]:
names_tuple[0] = "Not cool guy"

TypeError: 'tuple' object does not support item assignment

Same goes for strings. Once defined we cannot modifiy the characters of the string.

In [ ]:
my_name = "Tom"

In [ ]:
my_name[-1] = "q"

TypeError: 'str' object does not support item assignment

In [ ]:
x = ([1, 2, 3], 5)

In [ ]:
x[1] = 7

TypeError: 'tuple' object does not support item assignment

In [ ]:
x

([1, 2, 3], 5)

In [ ]:
x[0][1] = 4

In [ ]:
x

([1, 4, 3], 5)

## 4. String Methods
<hr>

There are various useful string methods in Python.

In [ ]:
all_caps = "HOW ARE YOU TODAY?"
all_caps

'HOW ARE YOU TODAY?'

In [ ]:
new_str = all_caps.lower()
new_str

'how are you today?'

Note that the method lower doesn't change the original string but rather returns a new one.

In [ ]:
all_caps

'HOW ARE YOU TODAY?'

There are *many* string methods. Check out the [documentation](https://docs.python.org/3/library/stdtypes.html#string-methods).

In [ ]:
all_caps.split()

['HOW', 'ARE', 'YOU', 'TODAY?']

In [ ]:
all_caps.count("O")

3

One can explicitly cast a string to a list:

In [ ]:
caps_list = list(all_caps)
caps_list

['H',
 'O',
 'W',
 ' ',
 'A',
 'R',
 'E',
 ' ',
 'Y',
 'O',
 'U',
 ' ',
 'T',
 'O',
 'D',
 'A',
 'Y',
 '?']

In [ ]:
"".join(caps_list)

'HOW ARE YOU TODAY?'

In [ ]:
"-".join(caps_list)

'H-O-W- -A-R-E- -Y-O-U- -T-O-D-A-Y-?'

We can also chain multiple methods together (more on this when we get to NumPy and Pandas in later chapters):

In [ ]:
"".join(caps_list).lower().split(" ")

['how', 'are', 'you', 'today?']

### String formatting

Python has ways of creating strings by "filling in the blanks" and formatting them nicely. This is helpful for when you want to print statements that include variables or statements. There are a few ways of doing this but I use and recommend [f-strings](https://docs.python.org/3.6/whatsnew/3.6.html#whatsnew36-pep498) which were introduced in Python 3.6. All you need to do is put the letter "f" out the front of your string and then you can include variables with curly-bracket notation `{}`.

In [ ]:
name = "Newborn Baby"
age = 4 / 12
day = 10
month = 6
year = 2020
template_new = f"Hello, my name is {name}. I am {age:.2f} years old. I was born {day}/{month:02}/{year}."
template_new

'Hello, my name is Newborn Baby. I am 0.33 years old. I was born 10/06/2020.'

```{note} Notes require **no** arguments,
In the code above, the notation after the colon in my curly braces is for formatting. For example, `:.2f` means, print this variable with 2 decimal places. See format code options [here](https://docs.python.org/3.4/library/string.html#format-specification-mini-language).
```

## 5. Dictionaries
<hr>

A dictionary is a mapping between key-values pairs and is defined with curly-brackets:

In [ ]:
house = {
    "bedrooms": 3,
    "bathrooms": 2,
    "city": "Vancouver",
    "price": 2499999,
    "date_sold": (1, 3, 2015),
}

condo = {
    "bedrooms": 2,
    "bathrooms": 1,
    "city": "Burnaby",
    "price": 699999,
    "date_sold": (27, 8, 2011),
}

We can access a specific field of a dictionary with square brackets:

In [ ]:
house["price"]

2499999

In [ ]:
condo["city"]

'Burnaby'

We can also edit dictionaries (they are mutable):

In [ ]:
condo["price"] = 5  # price already in the dict
condo

{'bedrooms': 2,
 'bathrooms': 1,
 'city': 'Burnaby',
 'price': 5,
 'date_sold': (27, 8, 2011)}

In [ ]:
condo["flooring"] = "wood"

In [ ]:
condo

{'bedrooms': 2,
 'bathrooms': 1,
 'city': 'Burnaby',
 'price': 5,
 'date_sold': (27, 8, 2011),
 'flooring': 'wood'}

We can also delete fields entirely (though I rarely use this):

In [ ]:
del condo["city"]

KeyError: 'city'

In [ ]:
condo

{'bedrooms': 2,
 'bathrooms': 1,
 'price': 5,
 'date_sold': (27, 8, 2011),
 'flooring': 'wood'}

And we can easily add fields:

In [ ]:
condo[5] = 443345

In [ ]:
condo

{'bedrooms': 2,
 'bathrooms': 1,
 'price': 5,
 'date_sold': (27, 8, 2011),
 'flooring': 'wood',
 5: 443345}

Keys may be any immutable data type, even a `tuple`!

In [ ]:
condo[(1, 2, 3)] = 777
condo

{'bedrooms': 2,
 'bathrooms': 1,
 'price': 5,
 'date_sold': (27, 8, 2011),
 'flooring': 'wood',
 5: 443345,
 (1, 2, 3): 777}

You'll get an error if you try to access a non-existent key:

In [ ]:
condo["not-here"]

KeyError: 'not-here'

## 6. Empties

Sometimes you'll want to create empty objects that will be filled later on.

In [ ]:
lst = list()  # empty list
lst

[]

In [ ]:
lst = []  # empty list
lst

[]

There's no real difference between the two methods above, `[]` is apparently [marginally faster](https://stackoverflow.com/questions/2972212/creating-an-empty-list-in-python)...

In [ ]:
tup = tuple()  # empty tuple
tup

()

In [ ]:
tup = ()  # empty tuple
tup

()

In [ ]:
dic = dict()  # empty dict
dic

{}

In [ ]:
dic = {}  # empty dict
dic

{}

In [ ]:
st = set()  # empty set
st

set()

## 7. Conditionals
<hr>

[Conditional statements](https://docs.python.org/3/tutorial/controlflow.html) allow us to write programs where only certain blocks of code are executed depending on the state of the program. Let's look at some examples and take note of the keywords, syntax and indentation.

In [ ]:
name = "Tom"

if name.lower() == "tom":
    print("That's my name too!")
elif name.lower() == "santa":
    print("That's a funny name.")
else:
    print(f"Hello {name}! That's a cool name!")
print("Nice to meet you!")

That's my name too!
Nice to meet you!

The main points to notice:
- Use keywords `if`, `elif` and `else`
- The colon `:` ends each conditional expression
- Indentation (by 4 empty space) defines code blocks
- In an `if` statement, the first block whose conditional statement returns `True` is executed and the program exits the `if` block
- `if` statements don't necessarily need `elif` or `else`
- `elif` lets us check several conditions
- `else` lets us evaluate a default block if all other conditions are `False`
- the end of the entire `if` statement is where the indentation returns to the same level as the first `if` keyword

If statements can also be **nested** inside of one another:

In [ ]:
name = "Super Tom"

if name.lower() == "tom":
    print("That's my name too!")
elif name.lower() == "santa":
    print("That's a funny name.")
else:
    print(f"Hello {name}! That's a cool name.")
    if name.lower().startswith("super"):
        print("Do you really have superpowers?")

print("Nice to meet you!")

Hello Super Tom! That's a cool name.
Do you really have superpowers?
Nice to meet you!

### Inline if/else

We can write simple `if` statements "inline", i.e., in a single line, for simplicity.

In [ ]:
words = ["the", "list", "of", "words"]

x = "long list" if len(words) > 10 else "short list"
x

'short list'

In [ ]:
if len(words) > 10:
    x = "long list"
else:
    x = "short list"

In [ ]:
x

'short list'

### Truth Value Testing

Any object can be tested for "truth" in Python, for use in `if` and `while` (next chapter) statements.
- `True` values: all objects return `True` unless they are a `bool` object with value `False` or have `len()` == 0
- `False` values: `None`, `False`, `0`, empty sequences and collections: `''`, `()`, `[]`, `{}`, `set()`

```{tip}
Read more in the [docs here](https://docs.python.org/3/library/stdtypes.html#truth-value-testing).
```

In [ ]:
x = 1

if x:
    print("I'm truthy!")
else:
    print("I'm falsey!")

I'm truthy!

In [ ]:
x = False

if x:
    print("I'm truthy!")
else:
    print("I'm falsey!")

I'm falsey!

In [ ]:
x = []

if x:
    print("I'm truthy!")
else:
    print("I'm falsey!")

I'm falsey!

### Short-circuiting

Python supports a concept known as "short-circuting". This is the automatic stopping of the execution of boolean operation if the truth value of expression has already been determined.

In [ ]:
fake_variable  # not defined

NameError: name 'fake_variable' is not defined

In [ ]:
True or fake_variable

True

In [ ]:
True and fake_variable

NameError: name 'fake_variable' is not defined

In [ ]:
False and fake_variable

False

|Expression|Result|Detail|
|---|---|---|
|A or B|If A is `True` then A else B|B only executed if A is `False`|
|A and B|If A is `False` then A else B|B only executed if A is `True`|